/* You can add global styles to this file, and also import other style files */
.list {
    text-align: left;
    float: left;
    color: black;
    font-family: 'Inconsolata', monospace;
}

.detail {
    text-align: left;
    float: right;
    color: #008B8B;
    font-family: 'Inconsolata', monospace;
    border-style: outset;
}

form input.ng-valid {
    border: 2px solid green;
    border-radius: 4px;
}

form input.ng-invalid {
    border: 2px solid red;
    border-radius: 4px;
}

form input {
    width: 60%;
    color: black;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

h1{
    background-image: linear-gradient(lightblue,white);
    font-family: 'Inconsolata', monospace;
}

.punchline {
    text-align: center;
    color: black;
    font-family: 'Inconsolata', monospace;
}

.input {
    font-family: 'Inconsolata', monospace;
}

h3 {
    font-family: 'Inconsolata', monospace;
}

p {
    font-family: 'Inconsolata', monospace;
}
