<form (ngSubmit)="addEmployee(addForm)" #addForm="ngForm">
    <fieldset>
        <legend>Add Employee</legend>
        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'emp_name')">*</span>Employee name: </strong>
        <div><input [(ngModel)]="newEmployee.emp_name" name="emp_name" placeholder="Name" required companyEmployeeName pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"></div>
        <div style="color: red;" *ngIf="addForm.hasError('checkname', 'emp_name')">Name cannot contain digits and has to be less than 100 characters</div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'email')">*</span>Employee email: </strong>
        <div><input [(ngModel)]="newEmployee.email" name="email" placeholder="Email" required companyEmail pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></div>
        <div style="color: red;" *ngIf="addForm.hasError('checkemail', 'email')">Please input a valid email</div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'address')">*</span>Employee address: </strong>
        <div><input [(ngModel)]="newEmployee.address" name="address" placeholder="Address" required></div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'nin')">*</span>Employee NIN: </strong>
        <div><input [(ngModel)]="newEmployee.nin" name="nin" placeholder="National Insurance Number" required companyNin pattern="^[A-CEGHJ-PR-TW-Z]{1}[A-CEGHJ-NPR-TW-Z]{1}[0-9]{6}[A-DFM]{0,1}$" maxlength="9" minlength="9"/></div>
        <div style="color: red;" *ngIf="addForm.hasError('checknin', 'nin')">Please input a valid National Insurance Number</div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'bank_acc_number')">*</span>Employee bank account number: </strong>
        <div><input type="number" [(ngModel)]="newEmployee.bank_acc_number" name="bank_acc_number" placeholder="Bank Account Number" required companyBankAccountNumber pattern="^[0-9]*$" maxlength="8" minlength="8"></div>
        <div style="color: red;" *ngIf="addForm.hasError('checkaccno', 'bank_acc_number')">The bank account number must contain 8 digits</div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'bank_sort_code')">*</span>Employee sort code: </strong>
        <div><input type="number" [(ngModel)]="newEmployee.bank_sort_code" name="bank_sort_code" placeholder="Sort Code" required companyBankSortCode pattern="^[0-9]*$" maxlength="6" minlength="6"></div>
        <div style="color: red;" *ngIf="addForm.hasError('checkaccsortcode', 'bank_sort_code')">The sort code must contain 6 digits</div>

        <br>

        <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'start_salary')">*</span>Employee starting salary: </strong>
        <div><input type="number" [(ngModel)]="newEmployee.start_salary" name="start_salary" placeholder="Salary" required companyEmployee></div>
        <div style="color: red;" *ngIf="addForm.hasError('checksalary', 'start_salary')">The salary must be between £12000 and £200000</div>

      <br>

      <strong>Choose a department: Sales, Production or Marketing</strong>
      <div><input type="text" [(ngModel)]="newEmployee.dep_name" name="dep_name" placeholder="Department Name" required companyDepartmentName/></div>
      <div style="color: red;" *ngIf="addForm.hasError('nodep', 'dep_name')">This is an invalid department</div>

      <br>

      <input type="submit" [disabled]="!addForm.valid">

        <br>
    </fieldset>
</form>
