<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
</head>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align: center" class="punchline">
  <p>
    This is the best system to use for managing your employees as well as their departments!
  </p>
</div>
<div class="container">
  <ngb-tabset>
    <ngb-tab title ="Home">
        <ng-template ngbTabContent>
          <h3>
            Application Usage:
          </h3>
          <p>
            Within this application you can view the current employees in your company, add any new employees that join your company as well as see which department each employee is working in.
              To do this just navigate to the required field using the menu situated at the top.
          </p>
        </ng-template>

    </ngb-tab>
    <ngb-tab title="List">
      <ng-template ngbTabContent>
        <employee-list></employee-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Add">
      <ng-template ngbTabContent>
          <employee-add-employee></employee-add-employee>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Department">
      <ng-template ngbTabContent>
        <company-department-employee></company-department-employee>
        <company-employee-report></company-employee-report>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
